.profile-page{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.profile-card{
  width:400px;
  padding:30px;
  background:white;
  border-radius:12px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}