.stats{
  display:grid;
  grid-template-columns:repeat(4,1fr);

  background:#041B44;
  color:white;

  padding:35px 60px;
}

.stat-card{
  text-align:center;
  border-right:1px solid rgba(255,255,255,.15);
}

.stat-card:last-child{
  border-right:none;
}

.stat-card h2{
  color:#EFB11D;
  font-size:42px;
  margin-bottom:8px;
}

.stat-card p{
  font-size:16px;
}

@media(max-width:600px){

.stats{
  grid-template-columns:1fr;
  padding:30px 20px;
  gap:25px;
}

.stat-card{
  border:none;
}

.stat-card h2{
  font-size:34px;
}

}